body, html {
    background-color: #131315;
    height: 100%;
}

.bgimg {
    height: 100%;
    position: relative;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bg {
    background-image: url("pics/real_wallpaper.JPG");
}

#bg_2 {
    background-image: url("pics/wallpaper.png");
    opacity: 1;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 3%;
    /* Whatever width you want */
}

.everything_else {
    display: none;
    justify-content: center;
    align-items: center; 
}

#logo {
    width: 100%;
    height: auto;
}

#logo_inner {
    width: 30vw;
}

/* Screens smaller than or equal to 991px */
@media screen and (max-width:1010px) {
    #logo_inner {
        width: 50vw;
    }
}

@media screen and (max-width: 667px) {
    body {
        overflow-x: hidden !important;
    }
    .everything_else {
        max-width: 100% !important;
        overflow-x: hidden !important;
    }
    #logo_inner {
        width: 100vw;
    }
}