body, html {
    background-color: #131315;
    height: 100%;
    margin: 0;
}

.bgimg {
    background-image: url("wallpaper.png");
    height: 100%;
    position: relative;
    opacity: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 3%;
    /* Whatever width you want */
}

#logo {
    max-width: 100%;
    min-width: 40%;
    height: auto;
}