body {
    background-image: url("wallpaper.png");
    background-color: #cccccc;
}

.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 3%;
    /* Whatever width you want */
}

.bgr-img {
    position: absolute;
    height: 100%;
    width: auto;
    background-image: url("wallpaper.png");
    background-repeat: no-repeat;
    background-size: contain;
}